@font-face {
    font-family: 'DejaVu Sans';
    src:  url('lib/DejaVuSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    color: black;
}


body {
    font-family: 'DejaVu Sans';
    box-shadow: inset 0 2px 0px #dcffa6, 0 2px 5px #000;
    margin: 2px;
    margin-bottom: 5px;
    margin-top: 0
}

html {
    margin: 0
}

b {
    color: maroon;
}

#header {
    font-family: 'DejaVu Sans';
    color: #fff;
    background-color: #8aba87;
    text-align: center;
    font-size: 36px;
    padding: 5px;
    /* margin-right: 15px; */
}

#container {
}

#antrax-close {
    float: right;
    cursor: pointer;
    margin-top: -5px;
    font-size: 20px;
}

.antrax-form {
    cursor: pointer;
}

.antrax-current {
    background-color: grey;
}

#antrax-results {
    font-family: 'DejaVu Sans';
    font-size: 20px;
    margin-left: 25px;
    margin-top: 25px;
}

#antrax-morphs {
    font-family: 'DejaVu Sans';
    font-size: 24px;
    margin-left: 25px;
    margin-top: 10px;
    color: maroon;
}

.underlined {
    border-bottom: 2px solid white;
    /* border-bottom-color: green; */
}

.tree-leaf {
    text-indent: 2em;
    padding-top: 3px;
}


.dict-pos {
    font-size: 22px;
    color: maroon;
    padding-left: 20px;
    cursor: pointer;
}

.black {
    color: black;
}

.tree {
    margin-top: 1em;
}

.link {
    color: maroon;
    cursor: pointer;
}
