body {
    /* border: 1px solid red; */
}

#container {
    /* margin-right: 50px; */
    /* padding: 10px; */
    /* vertical-align:middle; */
    /* line-height: 38px; */
    /* float: left; */
    padding: 10px;
}

#antrax-close {
    float: right;
    cursor: pointer;
    margin-top: -10px;
}

.antrax-form {
    cursor: pointer;
}

.antrax-current {
    background-color: grey;
}
